*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
  }
  ::selection{
    color: #ffff;
    background: #cf3455;
  }
  body{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    padding: 50px;
    background: rgba(234, 243, 250, 0.849);
  }
  .field{
    background: #fff;
    max-width: 700px;

    width: 150%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 0px 15px 30px rgba(22, 19, 19, 0.719);
  }
  .field header{
    font-size: 50px;
    font-weight: 600;
  }
  .field .inputBox{
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 50px;
  }
  .inputBox input{
    width: 85%;
    height: 90%;
    outline: none;
    border-radius: 3px;
    border: 3px solid rgb(82, 68, 68);
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
  }
  .inputBox input:focus{
    border-color: #0c090c;
  }
  .inputBox button{
    width: 50px;
    height: 85%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: #360d77;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .inputBox button:hover,
  .footer button:hover{
    background: #34157e;
  }
  .inputBox button.active{
    opacity: 1;
    pointer-events: auto;
  }
  .field .todoList{
    max-height: 250px;
    overflow-y: auto;
  }
  .todoList li{
    position: relative;
    list-style: none;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: default;
    overflow: hidden;
    word-wrap: break-word;
  }
  .todoList li .icon{
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    background: #f31404;
    width: 50px;
    text-align: center;
    color: rgb(248, 238, 238);
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .todoList li:hover .icon{
    right: 0px;
  }
  
  .field .footer{
    display: flex;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
  }
  .footer button{
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    background: #2c1885;
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .footer button.active{
    opacity: 1;
    pointer-events: auto;
  }